@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 800;
    background: url('../images/pizza.jpeg') center;
    background-size: cover;
    background-color:#0a0a0a;
    display: flex;
    flex-direction: column;
    min-height: 100vh;


   
    
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #0a0a0a;
    text-transform: uppercase;
}
/*style logo in header*/
#logo {
text-align: center;
font-size: 200%;
background-color:#ed1515;

}

#logo a {
    
    color:#ffff;
    list-style-type: none;
    text-decoration: none;

}

/* style the navbar*/
#navmenu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    font-size: 150%;
    width: 100%;
    
    
}

#navmenu a {
    display: block;
    color: #ffff;
    padding: 14px 16px;
    text-decoration: none;
    
}
#navmenu a:hover {
    background-color:#686767;
    
}
#navmenu li {
    float: right;
    margin-right: 20px;
}
/* style and postion the menu and about us*/
#menu {
    font-size: 180%;
font-family: 'Architects Daughter', cursive;
color:#ffff;
background-color: rgba(0,0,0,.8);
width: 400px;
height: 600px;
float: left;
margin-top: 3%;
margin-left: 15%;
border: solid 1px;
max-width: 100%;
margin-bottom: 5%;

}
#menu p,#about-us p {
    margin-left: 5px;
}

#about-us {
    font-size: 180%;
    font-family: 'Architects Daughter', cursive;
color:#ffff;
background-color:rgba(0,0,0,.6);
width: 400px;
height: 600px;
margin-top: 3%;
margin-right:15%;
float: right;
border: solid 1px;
max-width: 100%;
margin-bottom: 5%;
}

/* style the text inside menu and logo*/
#logo-intro h2 {
color: #ffff;
font-size: 200%;
text-align: center;
background-color:rgba(0,0,0,.8);
}

/*style the link to menu page on home page*/
#button-menu-intro a {
color: #ffff;
text-decoration: none;
background-color: black;
padding: 20px;
border-radius: 50%;
}

#button-menu-intro {
    text-align: center;
    margin: 30px;
    font-size: 120%;
   
}
#button-menu-intro a:hover {
    color: red;
}

/* style the h2 element insde the menu and the paragraph text*/
#about-us h2,#menu h2 {
    
    background-color: #ed1515;
    text-align: center;
    
}

.describe-menu {
    font-size: large;
    color: gray;
    
}

/* style the phonenumber*/
 #phone-number {
  color: #ffff;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  margin-top: 2%;
  background-color: rgba(0,0,0,.8);

}

/*styling footer*/
footer {
    background-color: rgba(0,0,0,.8);
    
	width: 100%;
   
    margin-top: auto;
    
   
    
}

.social-media {
    text-align: center;
}

.social-media >li {
    display: inline;
}

.social-media i {
    font-size: 200%;
    padding: 60px;
    margin: 6px;
    color: #ffff;
    
}

/* style the open hours text*/
.opening-hours {
    float: left;
    color: #ffff;
    
    font-family: 'Architects Daughter', cursive;
}

.social-media a {
   list-style-type:none;
   text-decoration: none;
}
.social-media i:hover{
    color: #686767;
}

/*styling contact-us*/
textarea,input[type="text"],input[type="email"]{
    max-width: 100%;
    resize: none;
    border:solid 1px black;
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 7px;
    margin: 0 auto;
    border-radius: 4px; 
}

#contact-form {
    margin: 0 auto;
    width: 30%;
    margin-top: 5%;
    background-color:rgba(0,0,0,.8);
    color: #ffff;
    border: solid 1px;
    border-radius: 5px;
   margin-bottom: 5%;    
}

legend {
    text-align: center;
    font-size: x-large;
}

#email-field {
    width: 76%;
}
.button-form {
    background-color:rgba(237,19,19,.6) ;
    color: #ffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-form {
    letter-spacing: 2px;
    font-size: x-large;
    margin-left: 3px;
}

/* for screens below 1200 px*/
@media screen  and (max-width: 1200px){
    #about-us {
    width: 50%;
    max-width: 100%;
    clear: both;
    float: left;
    height: auto;
    margin-left: 30%;
    }

    #menu {
        width: 50%;
        float: left;
        max-width: 100%;
        height: auto;
        margin-left: 30%;
        
    }

    #contact-form {
        width: 50%;
        float: left;
        max-width: 80%;
        height: auto;
        margin-left: 30%;
    }
    
        /* For screens below 750 px*/
    }
    @media screen  and (max-width: 750px){
        #about-us {
        width: 70%;
        margin: 0 auto;
        min-width: 100%;
        clear: both;
        float: left;
        height: auto;
       
        }

        #menu {
            width: 70%;
            margin: 0 auto;
            
            float: left;
            min-width: 100%;
            height: auto;
        }
        #contact-form {
            
        min-width: 100%;                   
    
        }

        #navmenu li {
            float: none;
            display: block;
            text-align: center;
           
    
        }

        .social-media li {
            clear: both;
            float: none;
            display: block;
            text-align: center;
        }
        



}
