@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 800;
    background: url('../images/pizza.jpeg') no-repeat;
    background-color: #ed2929
    
}
h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    color: #0a0a0a;
    text-transform: uppercase;
}

#logo{
float: left;
font-size: 200%;
color:white;

}
#navmenu{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,.8);
    overflow: hidden;
    font-size: 150%;
    
    
}
#navmenu a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    
}
#navmenu a:hover{
    background-color:#686767;
    
}
#navmenu li{
    float: right;
    margin-right: 20px;
}
/* style and postion the menu and about us*/
#menu{
    font-size: 180%;
font-family: 'Architects Daughter', cursive;
color:white;
background-color: rgba(0,0,0,.8);
width: 400px;
height: 600px;
float: left;
margin-top: 8%;
margin-left: 15%;
}
#about-us{
    font-size: 180%;
    font-family: 'Architects Daughter', cursive;
color:white;
background-color:rgba(0,0,0,.6);
width: 400px;
height: 600px;
margin-top: 8%;
margin-right:15%;
float: right;

}
footer{
    background-color: red;
    clear: both;
}
/* style the text inside menu and logo*/
#logo-intro h2{
padding-top: 10%;
color: white;
font-size: 200%;
text-align: center;
}
/*style the link to menu page on home page*/
#button-menu-intro a{
color: white;
text-decoration: none;
background-color: black;
padding: 20px;
border-radius: 50%;

}
#button-menu-intro{
    text-align: center;
    margin: 30px;
    font-size: 120%;
   
}
#button-menu-intro a:hover{
    color: red;
}
#about-us h2{
    
    background-color: #ed1515;
    text-align: center;
    
}
#menu h2{
    background-color: #ed1515;
    text-align: center;
}
.describe-menu{
    font-size: large;
    color: gray;
    
}





